<!DOCTYPE html>
<!-- 
MAPPLICATION development team is:
Rob Shepard, GIS Specialist; Matthew Butler, Senior Developer; Ethan Degross, Researcher/Developer
-->
<html>
  <head>
    <title>Mapplication</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
      <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
      <script type="text/javascript" src="http://s-lib024.lib.uiowa.edu/mapplication/hosted/leafletFuseSearch-noVersion/leafletfuse.js"></script>
      <script type="text/javascript" src="http://s-lib024.lib.uiowa.edu/mapplication/hosted/leafletSlider-1.0.2/leaflet.SliderControl.min.js"></script>      
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/leaflet.esri/2.0.2/esri-leaflet.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
      <link rel="stylesheet" href="http://s-lib024.lib.uiowa.edu/mapplication/hosted/leafletFuseSearch-noVersion/leafletfuse.css" type="text/css"/>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
      <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body>
    <div id="map"></div>
  </body>
  <script type="text/javascript" src="config.js"></script>
  <script type="text/javascript" src="user.js"></script>
  <script type="text/javascript" src="index.js"></script>
</html>